<p>Enter a query to get coordinates </p>
<form action="/login" method="post">
	UserName : <input type="text" name="username">
	Password : <input type="password" name="password">
	<input type="submit" value="Login!">
</form>
